---
---

@import "{{ site.theme }}";
p{
  direction: rtl;
}
div#title span{
  display: none;
}
section img {
    max-width: 100%;
    background-color: #fff;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
